@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(217, 54%, 11%);
	color: hsl(215, 51%, 70%);
	font-family: 'Outfit', sans-serif;
	font-size: 1.125rem;
	font-weight: 300;

	justify-content: center;
	align-items: center;
}

.container {
	background-color: hsl(216, 50%, 16%);
	padding: 1.34em;
	margin-inline: auto;
	margin-block: 5%;
	width: 20.44rem;
	border-radius: 1rem;

	display: flex;
	flex-direction: column;
}

.main-img {
	position: relative;
}

.equilibrium {
	width: 100%;
	height: auto;
	border-radius: 0.5rem;
}

.view {
	position: absolute;
	padding: 7.19rem;
	top: 0;
	left: 0;
	background-color: hsla(178, 100%, 50%, 0.6);
	border-radius: 0.5rem;
	opacity: 1%;
	cursor: pointer;
}

.view:hover {
	opacity: 100%;
}

h1 {
	color: hsl(0, 0%, 100%);
	font-weight: 600;
	font-size: 1.25rem;
	cursor: pointer;
}

h1:hover {
	color: hsl(178, 100%, 50%);
}

.stats {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0;
	border-bottom: 1px solid hsl(215, 51%, 70%);
}

.icon {
	padding-right: 0.5rem;
	height: 1rem;
}

#balance #time {
	display: flex;
}

.balance {
	color: hsl(178, 100%, 50%);
	font-weight: 600;
}

.time {
	font-weight: 400;
}

.avatar {
	border: 1px solid hsl(0, 0%, 100%);
	border-radius: 10rem;
	height: 2em;
}

.creator {
	padding-left: 1rem;
}

.name {
	color: hsl(0, 0%, 100%);
	cursor: pointer;
}

.name:hover {
	color: hsl(178, 100%, 50%);
}

.author {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
